<h1>Contact Banned</h1>

<p>You've been banned from contacting Replit community moderators, this could be for 2 reasons:</p>
<ol>
  <li>Spamming or being disrespectful in tickets and comments</li>
  <li>Creating irrelevant tickets such as phishing reports which should be handled through the <a href="https://replit.com">Replit</a> built-in reporting</li>
</ol>
