<h1>Moderation Contact</h1>

<p>If you would like to contact the Replit moderation team, for reasons such as appealing warnings or bans, or obtaining permission to automate a Replit account, please log in with Replit and create a ticket here.</p>

<div>
  <%= javascript_include_tag 'replauth', authed: 'location.reload()' %>
</div>
